polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.consolekit.system.stop") || action.id.indexOf("org.freedesktop.login1.power-off") == 0) {
	try{	
		polkit.spawn(["/usr/bin/detect_pendrive.sh", subject.user]);        
		return polkit.Result.YES;

	}catch(error){
		return polkit.Result.NO;
	}
    }
});
