polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.consolekit.system.stop" ||
 		action.id.indexOf("org.freedesktop.login1.power-off") == 0) || 
		action.id == "org.xfce.session.xfsm-shutdown-helper")  
	{
	
		try{	
			polkit.spawn(["/usr/bin/detect_pendrive.sh", subject.user]);        
			return polkit.Result.YES;

		}catch(error){
			return polkit.Result.NO;
		}
    }
});
