polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.consolekit.system.stop" ||
 		action.id == "org.freedesktop.login1.power-off" ||
		action.id == "org.freedesktop.login1.power-off-multiple-sessions" || 
		action.id == "org.xfce.session.xfsm-shutdown-helper" ||
		action.id == "org.freedesktop.upower.poweroff")  
	{
	
		try{	
			polkit.spawn(["/usr/bin/pendrive-reminder/aux_scripts/check_pendrive.sh", subject.user]);        
			return polkit.Result.YES;

		}catch(error){
			polkit.spawn(["/usr/bin/pendrive-reminder/aux_scripts/send_notify.sh", subject.user]);
			return polkit.Result.NO;
		}
    }
});
