SUBSYSTEM=="usb", ACTION=="unbind", RUN+="/usr/bin/pendrive-reminder/usbdevgone.sh $devpath"
SUBSYSTEM=="usb", ACTION=="remove", RUN+="/usr/bin/pendrive-reminder/usbdevgone.sh $devpath"
